<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>picture memo</title>
  <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
  
  <!---------------ここからメインコンテンツ----------------->
  <main class="main">
    <div class="text-container">
      <h2>Picturememo</h2>
      <p>Put a pin in the place of your memories and look back at the places you visited and the memories you have.</p>
    </div>
    <img src="/assets/img/hero.png">
  </main>
  <!-------------------------------------------------->
</body>
</html>
