<link href="/assets/css/style.css" rel="stylesheet">
<form action="/signin" method="post" class="form-container">
    <input type="text" name="mail" placeholder="Eメール" class="place-name"><br>
    <input type="password" name="password" placeholder="パスワード" class="place-name"><br>
    <input type="submit" value="ログイン"class="upload"><br>
</form>